<html>

<body>
    <form action='add/submit' method="post">
        <label>add product</label>
        <input type='text' name="product">
        <label>add price</label>
        <input type='number' name="price">
        <label>add brand</label>
        <input type='text' name="brand">
        <label>add model</label>
        <input type='text' name="model">
        <label></label>
        <input type='submit'>
    </form>
</body>

</html>